<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>singlePeople</key>
		<integer>1</integer>
		<key>name</key>
		<string>一等奖</string>
		<key>totalPeople</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>singlePeople</key>
		<integer>1</integer>
		<key>name</key>
		<string>二等奖</string>
		<key>totalPeople</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>singlePeople</key>
		<integer>1</integer>
		<key>name</key>
		<string>三等奖</string>
		<key>totalPeople</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>singlePeople</key>
		<integer>4</integer>
		<key>name</key>
		<string>优秀奖</string>
		<key>totalPeople</key>
		<integer>20</integer>
	</dict>
</array>
</plist>
